<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploads</title>
    <style>
      body,
      * {
        margin: 5px;
        padding: 5px;
        box-sizing: border-box;
        font-family: "Courier New", Courier, monospace;
      }
    </style>
  </head>
  <body>
    <h1>Upload your file here</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="fileuploads" />
      <input type="file" name="avtar" />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
